/* основные теги */
body {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 1);
}

header {
  height: 100vh;
  background-color: black;
}

span {
  color: rgba(255, 255, 0, 1);
}
/* логотип и освещение шапки */
.logo_light {
  vertical-align: middle;
  padding: 20vh;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .light {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  background: radial-gradient(circle at 50% 40%, white 20%, yellow 50%);
  box-shadow: 0 0 10px 2px rgba(255, 255, 0, 0.7);
} */

.logo_image {
  vertical-align: middle;
  max-width: 50vh;
  height: 50vh;

  display: inline-block;

  border-radius: 50%;
  background: radial-gradient(circle at 50% 40%, white 50%, #f7bd10 50%);
  box-shadow: 0 0 100px 100px rgba(165, 131, 30);
}

:checked + .logo_image {
  box-shadow: none;
  background: radial-gradient(circle at 50% 40%, white 20%, gray 50%);
}
/* стилистика списков */
ul {
  list-style: none;
  margin: 0;
}
ul li {
  position: relative;
}
ul li:before {
  content: "—";
  position: absolute;
  left: -18px;
}

.first_section_list {
  color: rgba(255, 255, 0, 1);
}

.second_section_list {
  color: rgba(255, 255, 0, 1);
}
/* логотип на всех страницах */
.header_logo {
  padding-top: 10vh;
  padding-left: 1vh;
  padding-bottom: 10vh;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

/* .first_completed_production_header > img {
  display: inline-block;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 40%, white 20%, yellow 50%);
  box-shadow: 0 0 10px 10px rgba(255, 255, 0, 1);
} */

.logo {
  vertical-align: middle;
  max-width: 5%;
  max-height: 15vh;
  object-fit: cover;

  display: inline-block;

  border-radius: 50%;
  background: radial-gradient(circle at 50% 40%, white 20%, #f7bd10 50%);
  box-shadow: 0 0 30px 20px rgb(165, 131, 30);
}

:checked + .logo {
  box-shadow: none;
  background: radial-gradient(circle at 50% 40%, white 20%, gray 50%);
}
/* стиль текста в шапке  с логотипом */
.header_text {
  padding-left: 5vh;
  color: rgba(255, 255, 0, 1);
}
/* первые три листа Укомплектованыедизайн-проекты*/
.first_completed_production_img > img {
  width: 30%;
  height: 70vh;
}

/* .first_completed_production_span {
  color: rgba(255, 255, 0, 1);
} */

.second_completed_production_img > img {
  max-width: 70%;
  max-height: 70vh;
}

.third_completed_production_img > img {
  max-height: 80vh;
}

.third_completed_production_img .img {
  max-width: 75%;
}
/* вторые три страницы Изделия собственногопроизводства */
.first_own_production_img {
  display: flex;
  justify-content: space-around;
}

.first_own_production_img > img {
  max-width: 25%;
  max-height: 70vh;
}

.first_own_production .text {
  text-align: center;
}

.second_own_production_img .first_img {
  /* display: flex;
  justify-content: space-around; */
  margin: 0 5vh 0 10vh;
}

.second_own_production_img .third_img {
  /* display: flex;
  justify-content: space-around; */
  margin: 0 0 0 5vh;
}

.second_own_production_img > img {
  max-width: 50%;
  max-height: 65vh;
}

.second_own_production .text {
  text-align: center;
}

.third_own_production_img {
  margin: 0 0 0 5vh;
}

.third_own_production_img > img {
  max-width: 80%;
  max-height: 64vh;
}

.third_own_production .text {
  text-align: center;
}

/* УникальныеИзделия стили */

.first_uniques_img {
  display: flex;
}
.first_uniques_img:first-child {
  margin: 0 0 0 10vh;
}
.first_uniques_img > span > img {
  max-width: 50%;
  max-height: 30vh;
}

.first_uniques_img_span {
  text-align: center;
}

.second_uniques_img {
  display: flex;
  margin: 0 0 0 18vh;
}

.second_uniques_img > span > img {
  max-width: 100%;
  max-height: 40vh;
}

.second_uniques_img_span {
  text-align: center;
}

.footer {
  width: 100%;
  height: 75%;
}

.footer_logo {
  margin: 30vh 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_logo > img {
  vertical-align: middle;
  max-width: 30vh;
  max-height: 30vh;

  display: inline-block;

  border-radius: 50%;
  background: radial-gradient(circle at 50% 40%, white 50%, #f7bd10 50%);
  box-shadow: 0 0 100px 100px rgba(165, 131, 30);
}

.footer_info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 0 0 0 50vh;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: rgba(255, 255, 0, 1);
}

.footer_info_tel {
  margin: 20vh 0 0 70vh;
  display: flex;
  flex-direction: column;
}

.footer_qr {
  margin: 20vh 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_qr > img {
  max-width: 60%;
  max-height: 60vh;
}
